---
title: Home
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">Hello, I'm Arasu RRK.</h2>
		<!-- <p class="subtext editable">Professional .NET web developer currently working in <a href="http://syncfusion.com">Syncfusion Inc.</a></p> -->
		<!-- <p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p> -->
	</div>
</section>

<!-- <section class="diagonal patterned"> -->
	<!-- <div class="container halves"> -->
		<!-- <div> -->
			<!-- <h3 class="editable">Some of our work</h3> -->
			<!-- <p class="editable">We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.</p> -->
			<!-- <p class="editable"><a href="{{ site.baseurl }}/portfolio/">View Full Portfolio &rarr;</a></p> -->
		<!-- </div> -->
		<!-- <div> -->
			<!-- <ul class="image-grid"> -->
				<!-- {% for client in site.clients limit: 4 %} -->
					<!-- <li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li> -->
				<!-- {% endfor %} -->
			<!-- </ul> -->
		<!-- </div> -->
	<!-- </div> -->
<!-- </section> -->

<section class="diagonal">
	<div class="container halves">
		<div>
			<img src="{{ site.baseurl }}/images/me/rrk-black-white.jpeg">
		</div>
		<div>
			<!-- <h3 class="editable">Latest software, greatest perfomance</h3> -->
			<p class="editable">Professional .NET web developer currently working in <a href="http://syncfusion.com">Syncfusion Inc.</a></p>
		</div>
	</div>
</section>
